fieldset {
  width: 50%;
  height: 50%;
}

input {
  color: black;
}

input {
  color: blue;
}

.text {
  -ms-flex-align: center;
}

.text1 {
  -ms-flex-align: center;
  display: grid;
}

header {
  text-decoration: none;
  text-align: right;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
